body {
  font-family: helvetica;
  background-color: #1b1b1b;
  text-align: center;
  padding-top: 150px;
}
#timer {
  color: white;
  font-size: 38px;
}
#daysCounting {
  color: white;
  font-size: 78px;
}
#daysText {
  color: #1b1b1b ;
  background-color: #ffa500;
  border-radius: 8px;
  padding: 5px;
}
